#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zephyr,code-partition = &slot0_partition;
    };

    user_inputs {
        usr_in_0: user_input_0 {
        compatible = "gpio-keys";
            gpios = <&gpioe 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_1: user_input_1 {
            gpios = <&gpioe 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_2: user_input_2 {
            gpios = <&gpioe 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_3: user_input_3 {
            gpios = <&gpioe 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_4: user_input_4 {
            gpios = <&gpioe 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_5: user_input_5 {
            gpios = <&gpioe 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_6: user_input_6 {
            gpios = <&gpioe 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_7 user_input_7 {
            gpios = <&gpioe 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_8 user_input_8 {
            gpios = <&gpioe 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_9 user_input_9 {
            gpios = <&gpiof 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_10 user_input_10 {
            gpios = <&gpiof 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_11 user_input_11 {
            gpios = <&gpiof 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_12 user_input_12 {
            gpios = <&gpiof 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_13 user_input_13 {
            gpios = <&gpiof 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_14 user_input_14 {
            gpios = <&gpiof 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
        usr_in_15 user_input_15 {
            gpios = <&gpiof 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };
};